.welcome{
    display: grid;
    background: url('../../Assets/Wallpaper.jpg');
    min-height: 100vh;
    place-items: center;
    background-size: cover;
}

.container{
    color: white;
    text-align: center;
    /* transform: translate(-50%,-50%); */
}

.link {
    color: white;
}

.title{
    font-weight: 500;
    letter-spacing: 10px;
    text-transform: uppercase;
    animation: text 3s 1;
}

@keyframes text {
    0%{
        color: black;
    }

    30%{
        letter-spacing: 30px;
    }

    80%{
        letter-spacing: 10px;
    }
}